:root {
    --font-family: "Iosevka Web", monospace;
    --line-height: 1.6;

    --background-color: rgb(18, 18, 18);
    --primary-text-color: rgb(224, 224, 224);
    --secondary-text-color: rgb(160, 160, 160);
    --tertiary-text-color: rgb(108, 108, 108);
    --highlight-background-color: rgb(220, 208, 255);
    --highlight-text-color: rgb(4, 4, 5);
    --code-background: #1e1e1e;
    --code-scrollbar: rgba(255, 255, 255, 0.35);
    --code-scrollbar-hover: rgba(255, 255, 255, 0.28);
    --inline-code-background: rgba(255, 255, 255, 0.08);
    --blockquote-text: rgba(255, 255, 255, 0.88);
    --superscript-font-size: 0.75em;
    --superscript-line-height: 1rem;
    --superscript-offset: -0.3rem;

    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--background-color) var(--background-color);
}

html {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--primary-text-color);
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, p, i, a, li {
    color: var(--primary-text-color);
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    font-stretch: normal;
    margin: 3rem 0 -1rem;
    scroll-margin-top: 4.5rem;
}

.container > h1,
.container > .subtitle,
.container > footer {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.container > h1.loaded,
.container > .subtitle.loaded,
.container > footer.loaded {
    opacity: 1;
}

h2 {
    font-size: 2rem;
    font-stretch: normal;
    font-weight: 300;
    margin: 2rem 0 1rem 0;
    position: relative;
    scroll-margin-top: 2rem;
    clear: both;
}

h3 {
    font-size: 1.5rem;
    font-stretch: normal;
    font-weight: 300;
    font-style: italic;
    margin: 1.5rem 0 0.75rem 0;
    position: relative;
    scroll-margin-top: 1.5rem;
    clear: both;
}

article.writing-post h2,
article.writing-post h3 {
    padding-left: 1.5ch;
    margin-left: -1.5ch;
}

@media (max-width: 84ch) {
    article.writing-post h2,
    article.writing-post h3 {
        padding-left: 0;
        margin-left: 0;
    }
}

.writing-toc {
    margin: 0 0 1.5rem;
    padding: 0;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--secondary-text-color);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.writing-toc * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.writing-toc.is-empty {
    display: none;
}

.writing-toc__list,
.writing-toc__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.writing-toc__item {
    margin: 0.4rem 0;
}

.writing-toc__list > .writing-toc__item:first-of-type {
    margin-top: 0;
}

.writing-toc__sublist {
    margin: 0.35rem 0 0 1.25rem;
}

.writing-toc__item a {
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

.writing-toc__item a:hover,
.writing-toc__item a:focus-visible {
    color: var(--primary-text-color);
    text-decoration: none;
}

.writing-toc__item--level-2 > a {
    font-weight: 400;
}

.writing-toc__item--level-1 {
    margin-bottom: 0.4rem;
}

.writing-toc__item--level-3 > a {
    font-weight: 400;
}

.margin-toggle {
    display: none;
}


.sidenote-number {
    line-height: 1;
    margin-left: 0.1ch;
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: color 0.2s ease;
    position: relative;
    display: inline-block;
    --superscript-slot-width: 1ch;
}

.sidenote__marker {
    position: relative;
    display: inline-block;
    line-height: 1;
    color: var(--secondary-text-color);
    font-stretch: expanded;
    --superscript-slot-width: 2ch;
}

.sidenote-number::before {
    content: '';
    display: inline-block;
    width: var(--superscript-slot-width);
    height: 0;
}

.sidenote-number::after,
.sidenote__marker::after {
    content: attr(data-number);
    position: absolute;
    left: 0;
    top: var(--superscript-offset);
    width: 1ch;
    text-align: left;
    font-size: var(--superscript-font-size);
    line-height: var(--superscript-line-height);
}

.sidenote__marker::before {
    content: '';
    display: inline-block;
    width: var(--superscript-slot-width);
    height: 0;
}

.sidenote-number:hover,
.sidenote-number:focus-visible {
    color: var(--highlight-background-color);
}

.margin-toggle + .sidenote--inline {
    display: none;
}

.margin-toggle:checked + .sidenote--inline {
    display: block;
    margin: 1rem 0;
    padding: 0 2ch;
    color: var(--secondary-text-color);
    font-size: 1rem;
    line-height: 1.6;
}

.sidenote--rail {
    display: none;
}

.writing-post__content sup {
    font-size: var(--superscript-font-size);
    line-height: var(--superscript-line-height);
}

.writing-post__layout {
    display: block;
}

.writing-post__content {
    min-width: 0;
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
}

.writing-post__rail {
    margin-bottom: 1.5rem;
}

@media (min-width: 136ch) {
    .writing-post__layout {
        position: relative;
        max-width: 80ch;
        margin: 0 auto;
    }

    .writing-post__content {
        max-width: 80ch;
        margin: 0 auto;
    }

    .writing-post__rail {
        position: absolute;
        top: 0;
        bottom: 0;
        right: calc(100% + 3ch);
        width: 24ch;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    .writing-post__rail-right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(100% + 3ch);
        width: 24ch;
        margin: 0;
    }

    .writing-toc {
        position: sticky;
        top: var(--writing-toc-sticky-top, 0.8rem);
        align-self: flex-start;
        max-width: 24ch;
        max-height: calc(100vh - var(--writing-toc-sticky-top, 0.8rem) - 2rem);
        overflow-y: auto;
        margin: 0;
        font-size: 1rem;
        line-height: 1.25;
        color: var(--secondary-text-color);
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .sidenote--inline {
        display: none;
    }

    .margin-toggle:checked + .sidenote--inline {
        display: none;
    }

    .sidenote--rail {
        display: block;
        position: absolute;
        max-width: 24ch;
        margin: 0;
        padding: 0;
        border: 0;
        color: var(--secondary-text-color);
        font-size: 1rem;
        line-height: 1.6;
    }

    .sidenote-number {
        cursor: default;
        pointer-events: none;
    }

}

body[data-selection-lock="true"] .container * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body[data-selection-lock="true"] [data-selection-active="true"],
body[data-selection-lock="true"] [data-selection-active="true"] * {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] .sidenote,
body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] .sidenote *,
body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] .sidenote-number {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] table,
body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] table * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] figure,
body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] figure * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body[data-selection-lock="true"] .writing-post__content[data-selection-active="true"] img:not(figure img) {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body[data-selection-lock="true"] [data-selection-active="true"] .code-language-tag,
body[data-selection-lock="true"] [data-selection-active="true"] .code-language-tag * {
    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
}

hr {
    position: relative;
    display: block;
    color: var(--tertiary-text-color);
}

p, i, a, li, tr, th, td, caption {
    font-size: 1rem;
    font-weight: 400;
    font-stretch: expanded;
    line-height: 1.6;
}

p, i, a {
    margin: 0 0 1.5rem;
}

p.signature {
    text-align: right;
    margin: 2.25rem 0;
}

footer {
    margin: 3rem 0 1.5rem;
}

ul, ol {
    margin: 1.5rem 0 1.5rem 2ch;
    padding-left: 1.75rem;
}

ul ul, ol ol, ul ol, ol ul {
    margin: 1rem 0 1rem 1.5ch;
}

li + li {
    margin-top: 0.5rem;
}

.heading-anchor {
    display: inline-block;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-style: italic;
    font-size: inherit;
    line-height: inherit;
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: opacity 0.2s ease;
    margin-left: 0.5ch;
}

@media (min-width: 84ch) {
    .heading-anchor {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 0;
    }
}

article.writing-post h2:hover .heading-anchor,
article.writing-post h3:hover .heading-anchor,
.heading-anchor:focus-visible {
    opacity: 1;
    color: var(--secondary-text-color);
}

.heading-anchor:focus,
.heading-anchor:focus-visible {
    outline: none;
}

figure {
    max-width: 76ch;
    width: fit-content;
    margin: 1.5rem auto;
    text-align: center;
}

figure img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

figcaption {
    display: block;
    font-style: italic;
    margin-top: 0.5rem;
    color: var(--secondary-text-color);
    text-align: left;
}

article.writing-post table {
    max-width: 76ch;
    margin: 1.5rem auto;
    display: table;
}

table, tr, th, td {
    color: var(--primary-text-color);
    border: 1px solid var(--secondary-text-color);
    padding: 0.3125em 0.625em;
}

table {
    border-collapse: collapse;
}

caption {
    margin: 0.5rem 0 0;
    caption-side: bottom;
    font-style: italic;
    color: var(--secondary-text-color);
    text-align: left;
}

img:not(figure img) {
    max-width: 76ch;
    width: auto;
    height: auto;
    margin: 1.5rem auto;
}

a {
    position: relative;
    text-decoration: underline 1px;
    text-underline-offset: 0.15em;
}

a.highlight {
    transition: color 0.3s ease, background-color 0.3s ease;
    text-decoration: underline 1px;
    text-underline-offset: 0.15em;
    padding: 0 0.2em;
    margin: 0 -0.2em;
    border-radius: 0.2em;
}

a.highlight:active,
a.highlight:hover {
    text-decoration: none;
    background: var(--highlight-background-color);
    color: var(--highlight-text-color);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

a.highlight:hover i {
    color: var(--highlight-text-color);
}

.menu a.item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    color: var(--primary-text-color);
}

.menu a.item::after {
    content: '';
    position: absolute;
    bottom: 0.25em;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s linear;
}

.menu a.item:not(.active) {
    color: var(--secondary-text-color);
}

.menu a.item:hover::after,
.menu a.item.active::after {
    transform: scaleX(1);
}

img, video {
    display: block;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: auto;
}

.container {
    width: 80ch;
    max-width: calc(100% - 2ch);
    margin: 4.5rem auto 0;
    font-size: 1rem;
    font-stretch: expanded;
}

.subtitle, .subheading {
    color: var(--secondary-text-color);
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1.5rem 0;
}

.subtitle.subtitle--stacked {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

.menu {
    display: flex;
    gap: 1ch;
    align-items: center;
    font-size: 1rem;
}

.subtitle .menu {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    column-gap: 1ch;
    align-items: center;
    margin: -1.5rem 0;
}

.subtitle .menu.menu--stacked {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    margin: 0 !important;
}

footer .menu.menu--stacked {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.subheading {
    margin: 1.5rem 0 -1.5rem;
}

.emdash-box {
    display: inline-block;
    line-height: inherit;
    clip-path: inset(0 0.1ch 0 0.1ch);
}

article.writing-post blockquote {
    margin: 2rem 0;
    padding: 0 0 0 2ch;
    border-left: 0.25em solid var(--highlight-background-color);
    color: var(--blockquote-text);
}

article.writing-post blockquote p {
    margin: 0;
    font-style: italic;
}

code {
    padding: 0 0.2em;
    margin: 0 -0.2em;
    background-color: var(--inline-code-background);
    border-radius: 0.2em;
    font-family: var(--font-family);
    font-size: 1em;
    color: var(--primary-text-color);
    -webkit-text-size-adjust: 100%;
}

article.writing-post .code-block {
    position: relative;
    margin: 1.5rem 0;
    padding: 0;
    background-color: var(--code-background);
    border-radius: 0.2em;
    overflow: hidden;
}

article.writing-post .code-block .code-scroll {
    overflow-x: auto;
    padding: 1em 0;
    margin: 0;
    scrollbar-width: none;
}

article.writing-post .code-block .code-scroll::-webkit-scrollbar {
    display: none;
}

article.writing-post .code-block pre {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    overflow: visible;
}

article.writing-post .code-block pre code {
    background: transparent;
    display: inline-block;
    min-width: 100%;
    overflow: visible;
    padding: 0;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    box-sizing: content-box;
    font-size: 1em;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
}



.code-language-tag {
    position: absolute;
    top: 1em;
    right: 1.25em;
    opacity: 1;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
    text-transform: lowercase;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.code-block__custom-scrollbar {
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    right: 0;
    height: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.code-block--hover .code-block__custom-scrollbar {
    opacity: 1;
}

.code-block__scrollbar-track {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: transparent;
}

.code-block__scrollbar-thumb {
    position: absolute;
    top: 0;
    height: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: auto;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.code-block__scrollbar-thumb::before {
    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: var(--code-scrollbar);
    border-radius: 999em;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.code-block__scrollbar-thumb:hover::before {
    background-color: var(--code-scrollbar-hover);
}

::selection {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

#content {
    transition: opacity 0.15s ease-in-out;
}

.writing-list {
    margin: 0;
}

.writing-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.75rem 0;
}

.writing-date {
    color: var(--secondary-text-color);
    flex-shrink: 0;
    margin-right: 8ch;
}

a.writing-title {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

a.writing-title:hover {
    text-decoration: none;
}
